[project]
name = "pyside-yolo-ui"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "onnxruntime-gpu>=1.21.0",
    "opencv-python>=4.11.0.86",
    "pyside6>=6.8.2.1",
    "qt-material>=2.14",
    "torch==2.6.0+cu126",
    "torchaudio==2.6.0+cu126",
    "torchvision==0.21.0+cu126",
    "typing-extensions>=4.12.2",
]

[tool.uv]
index-strategy = "unsafe-best-match"
index-url = "https://pypi.org/simple"
extra-index-url = [
    "https://pypi.org/simple",
    "https://download.pytorch.org/whl/cu126",
]
dev-dependencies = [
    "dill>=0.3.9",
    "ipykernel>=6.29.5",
    "nuitka>=2.6.8",
    "pre-commit>=4.1.0",
    "rust-just>=1.40.0",
    "tensorboard>=2.19.0",
    "ultralytics>=8.3.88",
    "wandb>=0.19.8",
]
